
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color : #d1e6a5;
}

.BuyerCart-heading {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.BuyerCart-heading h1{
    font-size: 3rem;
}
.BuyerCart-heading p{
    font-size: 1.6rem;
    color: grey;
}
.BuyerCart-heading h1 span{
    font-size: 4rem;
    color: var(--main-color);
}